@{
    ViewData["Title"] = "افزودن منطقه";
}

<div class="container">
    <div class="grid grid-cols-12 gap-x-6 gap-y-10">
        <div class="col-span-12 sm:col-span-10 sm:col-start-2">
            <div class="flex flex-col gap-y-2 lg:flex-row lg:items-center">
                <div class="flex items-center lg:justify-center flex-1 lg:first:justify-start lg:last:justify-end group active after:hidden before:hidden after:lg:block before:lg:block first:after:content-[''] first:after:w-full first:after:bg-slate-300/60 first:after:h-[2px] rtl:first:after:mr-5 ltr:first:after:ml-5 group-[.mode--light]:first:after:bg-slate-300/20 last:before:content-[''] last:before:w-full last:before:bg-slate-300/60 last:before:h-[2px] rtl:last:before:ml-5 ltr:last:before:mr-5 group-[.mode--light]:last:before:bg-slate-300/20 last:after:hidden after:content-[''] after:w-full after:bg-slate-300/60 after:h-[2px] rtl:after:mr-5 ltr:after:ml-5 group-[.mode--light]:after:bg-slate-300/20 first:before:hidden before:content-[''] before:w-full before:bg-slate-300/60 before:h-[2px] rtl:before:ml-5 ltr:before:mr-5 group-[.mode--light]:before:bg-slate-300/20">
                    <div class="flex items-center">
                        <div class="rounded-full border bg-white group-[.mode--light]:!border-white/[0.25] group-[.active]:bg-primary group-[.mode--light]:!bg-transparent group-[.active]:text-white group-[.mode--light]:!text-slate-200 [.group.mode--light_.group.active_&]:!border-white/[0.15] [.group.mode--light_.group.active_&]:!bg-white/[0.12]">
                            <div class="flex h-10 w-10 items-center justify-center">
                                1
                            </div>
                        </div>
                        <div class="rtl:mr-3.5 ltr:ml-3.5 whitespace-nowrap font-medium text-slate-500 group-[.active]:text-current group-[.mode--light]:!text-slate-300 [.group.mode--light_.group.active_&]:!text-slate-100">
                            انتخاب استان
                        </div>
                    </div>
                </div>
                <div class="flex items-center lg:justify-center flex-1 lg:first:justify-start lg:last:justify-end group after:hidden before:hidden after:lg:block before:lg:block first:after:content-[''] first:after:w-full first:after:bg-slate-300/60 first:after:h-[2px] rtl:first:after:mr-5 ltr:first:after:ml-5 group-[.mode--light]:first:after:bg-slate-300/20 last:before:content-[''] last:before:w-full last:before:bg-slate-300/60 last:before:h-[2px] rtl:last:before:ml-5 ltr:last:before:mr-5 group-[.mode--light]:last:before:bg-slate-300/20 last:after:hidden after:content-[''] after:w-full after:bg-slate-300/60 after:h-[2px] rtl:after:mr-5 ltr:after:ml-5 group-[.mode--light]:after:bg-slate-300/20 first:before:hidden before:content-[''] before:w-full before:bg-slate-300/60 before:h-[2px] rtl:before:ml-5 ltr:before:mr-5 group-[.mode--light]:before:bg-slate-300/20">
                    <div class="flex items-center">
                        <div class="rounded-full border bg-white group-[.mode--light]:!border-white/[0.25] group-[.active]:bg-primary group-[.mode--light]:!bg-transparent group-[.active]:text-white group-[.mode--light]:!text-slate-200 [.group.mode--light_.group.active_&]:!border-white/[0.15] [.group.mode--light_.group.active_&]:!bg-white/[0.12]">
                            <div class="flex h-10 w-10 items-center justify-center">
                                2
                            </div>
                        </div>
                        <div class="rtl:mr-3.5 ltr:ml-3.5 whitespace-nowrap font-medium text-slate-500 group-[.active]:text-current group-[.mode--light]:!text-slate-300 [.group.mode--light_.group.active_&]:!text-slate-100">
                            انتخاب شهر
                        </div>
                    </div>
                </div>
                <div class="flex items-center lg:justify-center flex-1 lg:first:justify-start lg:last:justify-end group after:hidden before:hidden after:lg:block before:lg:block first:after:content-[''] first:after:w-full first:after:bg-slate-300/60 first:after:h-[2px] rtl:first:after:mr-5 ltr:first:after:ml-5 group-[.mode--light]:first:after:bg-slate-300/20 last:before:content-[''] last:before:w-full last:before:bg-slate-300/60 last:before:h-[2px] rtl:last:before:ml-5 ltr:last:before:mr-5 group-[.mode--light]:last:before:bg-slate-300/20 last:after:hidden after:content-[''] after:w-full after:bg-slate-300/60 after:h-[2px] rtl:after:mr-5 ltr:after:ml-5 group-[.mode--light]:after:bg-slate-300/20 first:before:hidden before:content-[''] before:w-full before:bg-slate-300/60 before:h-[2px] rtl:before:ml-5 ltr:before:mr-5 group-[.mode--light]:before:bg-slate-300/20">
                    <div class="flex items-center">
                        <div class="rounded-full border bg-white group-[.mode--light]:!border-white/[0.25] group-[.active]:bg-primary group-[.mode--light]:!bg-transparent group-[.active]:text-white group-[.mode--light]:!text-slate-200 [.group.mode--light_.group.active_&]:!border-white/[0.15] [.group.mode--light_.group.active_&]:!bg-white/[0.12]">
                            <div class="flex h-10 w-10 items-center justify-center">
                                3
                            </div>
                        </div>
                        <div class="rtl:mr-3.5 ltr:ml-3.5 whitespace-nowrap font-medium text-slate-500 group-[.active]:text-current group-[.mode--light]:!text-slate-300 [.group.mode--light_.group.active_&]:!text-slate-100">
                            ثبت منطقه
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-7">
                <form asp-action="AddRegion" id="regionForm" method="post">

                    <div class="box box--stacked flex flex-col">
                        <div class="p-7">
                            <div>

                                <label>لیست استان ها</label>
                                <br /><br />
                                <div class="flex items-center border border-gray-500 bg-slate-100 text-slate-600 dark:border-darkmode-800 dark:bg-darkmode-700 dark:text-slate-400 focus-within:border-gray-700 rounded-md overflow-hidden">
                                    <div class="z-30 flex w-10 items-center justify-center bg-slate-100 text-slate-600 dark:bg-darkmode-700 dark:text-slate-400 border-l border-gray-500">
                                        <img src="/admin/src/images/MSCRM/Province.png" style="padding:3px;" />
                                    </div>
                                    <select id="province" name="ProvinceId" class="form-select tom-select w-full bg-slate-100 text-slate-600 dark:bg-darkmode-700 dark:text-slate-400 focus:bg-gray-200 focus:outline-none border-none rounded-md">
                                        <option value="">انتخاب استان</option>
                                        @foreach (var item in ViewBag.Provinces)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>

                            </div>


                            <div>
                                <br />
                                <label>لیست شهرها</label>
                                <br /><br />
                                <div class="flex items-center border border-gray-500 bg-slate-100 text-slate-600 dark:border-darkmode-800 dark:bg-darkmode-700 dark:text-slate-400 focus-within:border-gray-700 rounded-md overflow-hidden">
                                    <div class="z-30 flex w-10 items-center justify-center bg-slate-100 text-slate-600 dark:bg-darkmode-700 dark:text-slate-400 border-l border-gray-500">
                                        <img src="/admin/src/images/MSCRM/city.png" style="padding:3px;" />
                                    </div>
                                    @* <input type="hidden" id="hiddenCityId" name="CityId"> *@
                                    <select id="city" name="CityId" class="form-select tom-select w-full bg-slate-100 text-slate-600 dark:bg-darkmode-700 dark:text-slate-400 focus:bg-gray-200 focus:outline-none border-none rounded-md">
                                        <option value="">انتخاب شهر</option>
                                    </select>
                                </div>

                            </div>


                            <div>
                                <br /><br />
                                <div class="input-form [&.has-error_.form-control]:border-danger">
                                    <label data-tw-merge for="validation-form-1" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 ltr:group-[.form-inline]:sm:mr-5 rtl:group-[.form-inline]:sm:ml-5 ltr:group-[.form-inline]:sm:text-right rtl:group-[.form-inline]:sm:text-left flex w-full flex-col sm:flex-row">
                                        نام منطقه
                                        <span  class="mt-1 text-xs text-slate-500 rtl:sm:mr-auto ltr:sm:ml-auto sm:mt-0">
                                            ضروری، نام منطقه را وارد کنید.
                                        </span>
                                    </label>
                                    <input data-tw-merge id="validation-form-1" name="name" type="text" placeholder="جنت آباد" minlength="2" required="required" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 [&[type='file']]:border rtl:file:ml-4 ltr:file:mr-4 file:py-2 file:px-4 rtl:file:rounded-r-md ltr:file:rounded-l-md file:border-0 rtl:file:border-l-[1px] ltr:file:border-r-[1px] file:border-slate-100/10 file:text-sm file:font-semibold file:bg-slate-100 file:text-slate-500/70 hover:file:bg-200 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent rtl:group-[.input-group]:first:rounded-r ltr:group-[.input-group]:first:rounded-l rtl:group-[.input-group]:last:rounded-l ltr:group-[.input-group]:last:rounded-r group-[.input-group]:z-10 form-control form-control">
                                </div>

                            </div>


                        </div>
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'عملیات موفق!',
                                        text: '@Html.Raw(TempData["SuccessMessage"])',
                                        confirmButtonText: 'باشه'
                                    });
                                });
                            </script>
                        }
                        @if (TempData["SuccessMessage"] !=null  || TempData["DuplicateMessage"] != null)
                        {
                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    // نمایش پیام موفقیت
                                    var successMessage = '@Html.Raw(@TempData["SuccessMessage"])';
                                    if (successMessage) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'عملیات موفق',
                                            text: successMessage,
                                            confirmButtonText: 'باشه'
                                        });
                                    }

                                    // نمایش پیام خطا
                                    var errorMessage = '@TempData["ErrorMessage"]';
                                    if (errorMessage) {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'خطا',
                                            text: errorMessage,
                                            confirmButtonText: 'متوجه شدم'
                                        });
                                    }
                                });
                            </script>
                        }
                        <div class="flex border-t border-slate-200/80 px-7 py-5 md:justify-end">



                            <button id="submitBtn" data-tw-merge="" class="transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed text-primary dark:border-primary [&:hover:not(:disabled)]:bg-primary/10 w-full border-primary/50 px-10 md:w-auto">
                                <i data-tw-merge="" data-lucide="pocket" class="rtl:-mr-2 ltr:-ml-2 rtl:ml-2 ltr:mr-2 h-4 w-4 stroke-[1.3]"></i>
                                ثبت منطقه
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



